<!DOCTYPE html>

<html>

	<head>
		<meta charset="utf-8">
		<title>Расписание ЧелГУ</title>
		<link href="/css.boot/bootstrap.min.css" rel="stylesheet">
		<link href="/css.boot/docs.css" rel="stylesheet">
		<link rel="stylesheet" href="/css/style.css">
		<script src="js.boot/bootstrap.bundle.min.js"></script>
	</head>

	<body>
		<nav class="nav-fill">
			<div class="sidebar" id="sidebar">
				<ul class="nav flex-column tabs-items">
					<li class="<%= page === '' ? 'active' : '' %>"><a class="nav-link a-style tabs-item" href="/">Главная</a></li>
					<li class="<%= page === 'professor' ? 'active' : '' %>"><a class="nav-link a-style tabs-item" href="/professor">Преподаватели</a></li>
					<li class="<%= page === 'discipline' ? 'active' : '' %>"><a class="nav-link a-style tabs-item" href="/discipline">Дисциплины</a></li>
					<li class="<%= page === 'classroom' ? 'active' : '' %>"><a class="nav-link a-style tabs-item" href="/classroom">Аудитории</a></li>
					<li class="<%= page === 'address' ? 'active' : '' %>"><a class="nav-link a-style tabs-item" href="/address">Адреса</a></li>
					<li class="<%= page === 'coupleType' ? 'active' : '' %>"><a class="nav-link a-style tabs-item" href="/coupleType">Типы пар</a></li>
					<li class="<%= page === 'departament' ? 'active' : '' %>"><a class="nav-link a-style tabs-item" href="/departament">Кафедры</a></li>
					<li class="<%= page === 'faculties' ? 'active' : '' %>"><a class="nav-link a-style tabs-item" href="/faculties">Факультеты</a></li>
					<li class="<%= page === 'direction' ? 'active' : '' %>"><a class="nav-link a-style tabs-item" href="/direction">Направление</a></li>	
				</ul>
			</div>
		</nav>
		<main>
			<div class="main-content">
				<div>
					<% if (page === '') { %>
						<h1>Расписание факультетов</h1>
						<nav>
							<div>
								<ul class="nav flex-column">
									<li class="nav-item"><a class="nav-link a-style1" id="hideMenu" href="/addition/schedule">Математический факультет</a></li>
									<li class="nav-item"><a class="nav-link a-style1" id="hideMenu1" href="/addition/schedule">Институт информационных технологий</a></li>
									<li class="nav-item"><a class="nav-link a-style1" id="hideMenu2" href="/addition/schedule">Физический факультет</a></li>
									<li class="nav-item"><a class="nav-link a-style1" id="hideMenu3" href="/addition/schedule">Химический факультет</a></li>
									<li class="nav-item"><a class="nav-link a-style1" id="hideMenu4" href="/addition/schedule">Биологический факультет</a></li>
									<li class="nav-item"><a class="nav-link a-style1" id="hideMenu5" href="/addition/schedule">Институт права</a></li>
									<li class="nav-item"><a class="nav-link a-style1" id="hideMenu6" href="/addition/schedule">Экономический факультет</a></li>
									<li class="nav-item"><a class="nav-link a-style1" id="hideMenu7" href="/addition/schedule">Факультет управления</a></li>
									<li class="nav-item"><a class="nav-link a-style1" id="hideMenu8" href="/addition/schedule">Институт экономики отраслей</a></li>
									<li class="nav-item"><a class="nav-link a-style1" id="hideMenu9" href="/addition/schedule">Факультет фундаментальной медицины</a></li>
									<li class="nav-item"><a class="nav-link a-style1" id="hideMenu10" href="/addition/schedule">Институт образования и практической психологии</a></li>
									<li class="nav-item"><a class="nav-link a-style1" id="hideMenu11" href="/addition/schedule">Факультет Евразии и Востока</a></li>
									<li class="nav-item"><a class="nav-link a-style1" id="hideMenu12" href="/addition/schedule">Факультет лингвистики и перевода</a></li>
									<li class="nav-item"><a class="nav-link a-style1" id="hideMenu13" href="/addition/schedule">Факультет журналистики</a></li>
									<li class="nav-item"><a class="nav-link a-style1" id="hideMenu14" href="/addition/schedule">Историко-филологический факультет</a></li>
									<li class="nav-item"><a class="nav-link a-style1" id="hideMenu15" href="/addition/schedule">Факультет экологии</a></li>
								</ul>
							</div>
						</nav>
					<% } %>
					<% if (page === 'professor') { %>
						<h1>Преподаватели</h1>
						<div class="buttons123">
							<div class="search-form"> <!-- Кнопка поиска -->
								<form method="get" id="urlSearchTeacher" onsubmit="prepareURLToSearch()" action="professor/search/">
									<input id="searchInputTeacher" class="search-form-txt" placeholder="Поиск по фамилии" size="90" type="text">
								</form>
							</div>
							<div>
								<button type="button" id="showPopupTeacher" class="add-btn-st btn btn-primary">Добавить</button>
							</div>
							<div class="imp-exp-st">
								<button class="table-btn-st">Импорт</button>
								<button class="table-btn-st">Экспорт</button>
							</div>
						</div>
						<table id="myTableTeacher">
							<thead>
							<tr><th width="5%">#</th><th width="15%">Фамилия</th><th width="15%">Имя</th><th width="15%">Отчество</th><th width="10%">Должность</th><th width="15%">Кафедра</th><th width="15%">Телефон кафедры</th><th width="5%">Ред.</th><th width="5%">Уд.</th></tr>
							</thead>
							<tbody>
								<% data.slice(0,50).forEach(item => { %>
										<tr> 
											<td>
												<%= item.id %>
											</td>
											<td>
												<%= item.last_name %>
											</td>
											<td>
												<%= item.first_name %>
											</td>
											<td>
												<%= item.middle_name %>
											</td>
											<td>
												<%= item.position %>
											</td>
											<td>
												<%= item.departement %>
											</td>
											<td>
												телефон
											</td>
											<td>
												<button id="showPopupTeacherEdit<%= item.id %>" style="color:MidnightBlue">Ред.</button>
												<div id="overlayTeacherEdit<%= item.id %>"></div>
												<div id="popupTeacherEdit<%= item.id %>">
													<form method="post" action="/professor/edit/<%= item.id %>">
														<h2>Фамилия</h2>
														<input type="text" name="last_name" id="inputTeacherEdit1" value="<%= item.last_name %>">
														<h2>Имя</h2>
														<input type="text" name="first_name" id="inputTeacherEdit2" value="<%= item.first_name %>">
														<h2>Отчество</h2>
														<input type="text" name="middle_name" id="inputTeacherEdit3" value="<%= item.middle_name %>">
														<h2>Должность</h2>
														<input type="text" name="position" id="inputTeacherEdit4" value="<%= item.position %>">
														<h2>Кафедра</h2>
														<input type="text" name="departament" id="inputTeacherEdit5" value="<%= item.departement %>">
														<h2>Телефон кафедры</h2>
														<input type="number" id="inputTeacherEdit6" value="телефон">
														<button type="submit">Сохранить</button>
													</form>
												<button id="closePopupTeacherEdit<%= item.id %>">Закрыть окно</button>
												</div>
											</td>
											<td>
												<form method="post" action="/professor/delete/<%= item.id %>">
													<button style="color: DarkRed;">Удалить</button>
												</form>
											</td>
										</tr>
								<% }); %>
							</tbody>
						</table>
							<div id="overlayTeacher"></div>
							<div id="popupTeacher">
								<form  action="/addition/professor" method="post"> <!--id="inputFormTeacher" -->
									<h2>Фамилия</h2>
									<input type="text" name="last_name" id="inputTeacher1" placeholder="Фамилия">
									<h2>Имя</h2>
									<input type="text" name="first_name" id="inputTeacher2" placeholder="Имя">
									<h2>Отчество</h2>
									<input type="text" name="middle_name" id="inputTeacher3" placeholder="Отчество">
									<h2>Должность</h2>
									<input type="text" name="position" id="inputTeacher4" placeholder="Должность">
									<h2>Кафедра</h2>
									<input type="text" name="departament" id="inputTeacher5" placeholder="Кафедра">
									<h2>Телефон кафедры</h2>
									<input type="number" id="inputTeacher6" placeholder="Телефон кафедры">
									<button type="submit">Добавить</button>
								</form>
							<button id="closePopupTeacher">Закрыть окно</button>
							</div>		
							<script src="js/addTeacherscript.js"></script>
							<script>
									document.getElementById('searchInputTeacher').addEventListener('input',searchCout)
										let searchTeacher;
									function searchCout(){
										searchTeacher = document.getElementById('searchInputTeacher').value;
										sendDataToServer(searchTeacher);
									}
									function prepareURLToSearch(){
										let urlSearchTeacher = document.getElementById('urlSearchTeacher');
										urlSearchTeacher.action = `professor/search/${searchTeacher}`;
									}
									function sendDataToServer(dataSearchTeacher) {
										fetch('/professor/searchTeacher', {
										method: 'POST',
										body: JSON.stringify({ searchTeacher: dataSearchTeacher }),
										headers: {
										'Content-Type': 'application/json'
										}
									})
								}
							</script>
						<% } %>
						<% if (page === 'direction') { %>
						<h1>Направление</h1>
						<div class="buttons123">
							<div class="search-form"> <!-- Кнопка поиска -->
								<form method="get" id="urlSearchDirection" onsubmit="prepareURLToSearch()" action="direction/search/">
								<input class="search-form-txt" id="searchInputDirection" placeholder="Поиск" size="90" type="text">
								</form>
							</div>
							<div class="">
								<button type="button" id="showPopupDirection" class="add-btn-st btn btn-primary">Добавить</button>
							</div>
							<div class="imp-exp-st">
								<button class="table-btn-st">Импорт</button>
								<button class="table-btn-st">Экспорт</button>
							</div>
						</div>
						<table id="myTableDirection">
							<thead>
								<tr><th width="4%">#</th><th width="8%">Аббревиатура</th><th width="40%">Название направления</th><th width="32%">Факультет</th><th width="8%">Ред.</th><th width="8%">Уд.</th></tr>
							</thead>
							<% data.forEach(item => { %>
								<tbody>
										<td>
											<%= item.id %>
										</td>
										<td>
											<%= item.direction_abbreviation %>
										</td>
										<td>
											<%= item.name %>
										</td>
										<td>
											<%= item.faculty %>
										</td>
										<td>
											<button id="showPopupDirectionEdit<%= item.id %>" style="color:MidnightBlue">Ред.</button>
											<div id="overlayDirectionEdit<%= item.id %>"></div>
											<div id="popupDirectionEdit<%= item.id %>">
												<form method="post" action="/direction/edit/<%= item.id %>">
													<h2>Аббревиатура</h2>
													<input type="text" name="direction_abbreviation" id="inputDirectionEdit1" value="<%= item.direction_abbreviation %>">
													<h2>Дисциплина</h2>
													<input type="text" name="name" id="inputDirectionEdit2" value="<%= item.name %>">
													<h2>Факультет</h2>
													<input type="text" name="faculty" id="inputDirectionEdit3" value="<%= item.faculty %>">
													<button type="submit">Добавить</button>
												</form>
											<button id="closePopupDirectionEdit<%= item.id %>">Закрыть окно</button>
											</div>
										</td>
										<td>
											<form method="post" action="/direction/delete/<%= item.id %>">
												<button style="color: DarkRed;">Удалить</button>
											</form>
										</td>
								</tbody>
							<% }); %>
						</table>
						<div id="overlayDirection"></div>
							<div id="popupDirection">
								<form method="post" action="/addition/direction"><!-- id="inputFormDiscipline" -->
									<h2>Дисциплина</h2>
									<input type="text" name="direction_abbreviation" id="inputDirection1" placeholder="Дисциплина">
									<input type="text" name="name" id="inputDirection2" placeholder="Название направления">
									<input type="text" name="faculty" id="inputDirection3" placeholder="Факультет">
									<button type="submit">Добавить</button>
								</form>
							<button id="closePopupDirection">Закрыть окно</button>
						</div>		
						<script src="js/addDirectionscript.js"></script>
						<script>
							document.getElementById('searchInputDirection').addEventListener('input',searchCout)
								let searchDirection;
							function searchCout(){
								searchDirection = document.getElementById('searchInputDirection').value;
								sendDataToServer(searchDirection);
							}
							function prepareURLToSearch(){
								let urlSearchDirection = document.getElementById('urlSearchDirection');
								urlSearchDirection.action = `direction/search/${searchDirection}`;
							}
							function sendDataToServer(dataSearchDirection) {
								fetch('/direction/searchDirection', {
								method: 'POST',
								body: JSON.stringify({ searchDirection: dataSearchDirection }),
								headers: {
								'Content-Type': 'application/json'
								}
							})
						}
					</script>
					<% } %>
					<% if (page === 'coupleType') { %>
						<h1>Типы пар</h1>
						<div class="buttons123">
						<!--	<div class="search-form">  Кнопка поиска 
								<input class="search-form-txt" id="searchInputTypePair" placeholder="Поиск" size="90" type="text">
							</div>-->
							<div class="">
								<button type="button" id="showPopupTypePair" class="add-btn-st btn btn-primary">Добавить</button>
							</div>
							<div class="imp-exp-st">
								<button class="table-btn-st">Импорт</button>
								<button class="table-btn-st">Экспорт</button>
							</div>
						</div>
						<table id="myTableTypePair">
							<thead>
								<tr><th width="4%">#</th><th width="80%">Тип</th><th width="8%">Ред.</th><th width="8%">Уд.</th></tr>
							</thead>
							<% data.forEach(item => { %>
							<tbody>
									<td>
										<%= item.id %>
									</td>
									<td>
										<%= item.pair_type %>
									</td>
									<td>
											<button id="showPopupTypePairEdit<%= item.id %>" style="color:MidnightBlue">Ред.</button>
											<div id="overlayTypePair1<%= item.id %>"></div>
												<div id="popupTypePair1<%= item.id %>">
													<form method="post" action="/coupleType/edit/<%= item.id %>">
														<h2>Тип пары</h2>
														<input type="text" name="pair_type"  id="inputTypePair2" value="<%= item.pair_type %>">
														<button type="submit">Сохранить</button>
													</form>
												<button id="closePopupTypePair1<%= item.id %>">Закрыть окно</button>
											</div>
									</td>
									<td>
										<form method="post" action="/coupleType/delete/<%= item.id %>">
											<button style="color: DarkRed;">Удалить</button>
										</form>
									</td>
							</tbody>
							
							<% }); %>
						</table>

						<div id="overlayTypePair"></div>
							<div id="popupTypePair">
								<form method="post" action="/addition/coupleType"> <!--id="inputFormTypePair"-->
									<h2>Тип пары</h2>
									<input type="text" id="inputTypePair1" name="pair_type" placeholder="Тип пары">
									<button type="submit">Добавить</button>
								</form>
							<button id="closePopupTypePair">Закрыть окно</button>
						</div>
						
						
						
						
							<script src="js/addPairTypescript.js"></script>
					<% } %>
					<% if (page === 'classroom') { %>
						<h1>Аудитории</h1>
						<div class="buttons123">
							<div class="search-form"> <!-- Кнопка поиска -->
								<form method="get" id="urlSearchClassroom" onsubmit="prepareURLToSearch()" action="classroom/search/">
									<input class="search-form-txt" id="searchInputAudience" placeholder="Поиск" size="90" type="text">
								</form>
							</div>
							<div class="">
								<button type="button" id="showPopupAudience" class="add-btn-st btn btn-primary">Добавить</button>
							</div>
							<div class="imp-exp-st">
								<button class="table-btn-st">Импорт</button>
								<button class="table-btn-st">Экспорт</button>
							</div>
						</div>
						<table id="myTableAudience">
							<thead>
								<tr><th width="4%">#</th><th width="50%">Аудитория</th><th width="30%">Корпус</th><th width="8%">Ред.</th><th width="8%">Уд.</th></tr>
							</thead>
							<% data.forEach(item => { %>
								<tbody>
										<td>
											<%= item.id %>
										</td>
										<td>
											<%= item.room_number %>
										</td>
										<td>
											<%= item.building %>
										</td>
										<td>
											<button id="showPopupAudienceEdit<%= item.id %>"  style="color:MidnightBlue">Ред.</button>
											<div id="overlayAudienceEdit<%= item.id %>"></div>
												<div id="popupAudienceEdit<%= item.id %>">
												<form method="post" action="/classroom/edit/<%= item.id %>">
													<h2>Аудитории</h2>
													<input type="text" name="room_number" id="inputAudienceEdit1" value="<%= item.room_number %>">
													<h2>Корпус</h2>
													<input type="text" name="building" id="inputAudienceEdit2" value="<%= item.building %>">
													<button type="submit">Добавить</button>
												</form>
												<button id="closePopupAudienceEdit<%= item.id %>">Закрыть окно</button>
											</div>
										</td>
										<td>
											<form method="post" action="/classroom/delete/<%= item.id %>">
												<button style="color: DarkRed;">Удалить</button>
											</form>
										</td>
								</tbody>
							<% }); %>
						</table>
						<div id="overlayAudience"></div>
							<div id="popupAudience">
								<form  method="post" action="/addition/classroom"> <!--id="inputFormAudience"-->
									<h2>Аудитории</h2>
									<input type="text" id="inputAudience1" placeholder="Аудитория" name="room_number">
									<h2>Корпус</h2>
									<input type="text" id="inputAudience2" placeholder="Корпус" name="building">
									<button type="submit">Добавить</button>
								</form>
							<button id="closePopupAudience">Закрыть окно</button>
						</div>
							<script src="js/addAudiencescript.js"></script>
							<script>
								document.getElementById('searchInputAudience').addEventListener('input',searchCout)
									let searchClassroom;
								function searchCout(){
									searchClassroom = document.getElementById('searchInputAudience').value;
									sendDataToServer(searchClassroom);
								}
								function prepareURLToSearch(){
									let urlSearchClassroom = document.getElementById('urlSearchClassroom');
									urlSearchClassroom.action = `classroom/search/${searchClassroom}`;
								}
								function sendDataToServer(dataSearchClassroom) {
									fetch('/classroom/searchClassroom', {
									method: 'POST',
									body: JSON.stringify({ searchClassroom: dataSearchClassroom }),
									headers: {
									'Content-Type': 'application/json'
									}
								})
							}
						</script>
					<% } %>
					<% if (page === 'faculties') { %>
						<h1>Факультеты</h1>
						<div class="buttons123">
						<!-- 	<div class="search-form"> Кнопка поиска 
								<input class="search-form-txt" id="searchInputFaculties" placeholder="Поиск" size="90" type="text">
							</div>-->
							<div class="">
								<button type="button" id="showPopupFaculties" class="add-btn-st btn btn-primary">Добавить</button>
							</div>
							<div class="imp-exp-st">
								<button class="table-btn-st">Импорт</button>
								<button class="table-btn-st">Экспорт</button>
							</div>
						</div>
						<table id="myTableFaculties">
							<thead>
								<tr><th width="4%">#</th><th width="60%">Факультет</th><th width="20%">ФИО декана</th><th width="8%">Ред.</th><th width="8%">Уд.</th></tr>
							</thead>
							<% data.forEach(item => { %>
								<tbody>
										<td>
											<%= item.id %>
										</td>
										<td>
											<%= item.faculty_name %>
										</td>
										<td>
											<%= item.dean_fullname %>
										</td>
										<td>
											<button id="showPopupFacultiesEdit<%= item.id %>" style="color:MidnightBlue">Ред.</button>
											<div id="overlayFacultiesEdit<%= item.id %>"></div>
												<div id="popupFacultiesEdit<%= item.id %>">
													<form method="post" action="/faculties/edit/<%= item.id %>">
														<h2>Факультет</h2>
														<input type="text" name="faculty_name" id="inputFacultiesEdit1" value="<%= item.faculty_name %>">
														<h2>ФИО декана</h2>
														<input type="text" name="dean_fullname" id="inputFacultiesEdit2" value="<%= item.dean_fullname %>">
														<button type="submit">Добавить</button>
													</form>
													<button id="closePopupFacultiesEdit<%= item.id %>">Закрыть окно</button>
												</div>	
										</td>
										<td>
											<form method="post" action="/faculties/delete/<%= item.id %>">
												<button style="color: DarkRed;">Удалить</button>
											</form>
										</td>
								</tbody>
							<% }); %>
						</table>
						<div id="overlayFaculties"></div>
							<div id="popupFaculties">
								<form method="post" action="/faculties/addition" > <!-- id="inputFormFaculties"-->
									<h2>Факультет</h2>
									<input type="text" name="faculty_name" placeholder="Название Факультета" id="inputFaculties1" required>
									<h2>ФИО декана</h2>
									<input type="text" name="dean_fullname" placeholder="Декан" id="inputFaculties2" required>
									<button type="submit">Добавить</button>
								</form>	
							<button id="closePopupFaculties">Закрыть окно</button>
						</div>		
							<script src="js/addFacultiesscript.js"></script>
					<% } %>
					<% if (page === 'departament') { %>
						<h1>Кафедры</h1>
						<div class="buttons123">
							<div class="search-form"> <!-- Кнопка поиска -->
								<form method="get" id="urlSearchDepartment" onsubmit="prepareURLToSearch()" action="departament/search/">
									<input class="search-form-txt" id="searchInputDepartment" placeholder="Поиск" size="90" type="text">
								</form>
							</div>
							<div class="">
								<button type="button" id="showPopupDepartment" class="add-btn-st btn btn-primary">Добавить</button>
							</div>
							<div class="imp-exp-st">
								<button class="table-btn-st">Импорт</button>
								<button class="table-btn-st">Экспорт</button>
							</div>
						</div>
						<table id="myTableDepartment">
							<thead>
								<tr><th width="4%">#</th><th width="60%">Название кафедры</th><th width="20%">Телефон кафедры</th><th width="8%">Ред.</th><th width="8%">Уд.</th></tr>
							</thead>
							<% data.forEach(item => { %>
								<tbody>
										<td>
											<%= item.id %>
										</td>
										<td>
											<%= item.name %>
										</td>
										<td>
											<%= item.phone %>
										</td>
										<td>
											<button id="showPopupDepartmentEdit<%= item.id %>" style="color:MidnightBlue">Ред.</button>
											<div id="overlayDepartmentEdit<%= item.id %>"></div>
											<div id="popupDepartmentEdit<%= item.id %>">
												<form method="post" action="/departament/edit/<%= item.id %>">
													<h2>Название кафедры</h2>
													<input type="text" name="name" id="inputDepartmentEdit1" value="<%= item.name %>">
													<h2>Телефон кафедры</h2>
													<input type="text" name="phone" id="inputDepartmentEdit2" value="<%= item.phone %>">
													<button type="submit">Добавить</button>
												</form>
												<button id="closePopupDepartmentEdit<%= item.id %>">Закрыть окно</button>
											</div>
										</td>
										<td>
											<form method="post" action="/departament/delete/<%= item.id %>">
												<button style="color: DarkRed;">Удалить</button>
											</form>
										</td>
								</tbody>
							<% }); %>
						</table>
						<div id="overlayDepartment"></div>
						<div id="popupDepartment">
							<form method="post" action="/addition/departament"><!--id="inputFormDepartment"-->
								<h2>Название кафедры</h2>
								<input type="text" name="name" id="inputDepartment1" placeholder="Название кафедры">
								<h2>Телефон кафедры</h2>
								<input type="text" name="phone" id="inputDepartment2" placeholder="Телефон кафедры">
								<button type="submit">Добавить</button>
							</form>
						<button id="closePopupDepartment">Закрыть окно</button>
					</div>		
						<script src="js/addDepartmentscript.js"></script>
						<script>
							document.getElementById('searchInputDepartment').addEventListener('input',searchCout)
								let searchDepartment;
							function searchCout(){
								searchDepartment = document.getElementById('searchInputDepartment').value;
								sendDataToServer(searchDepartment);
							}
							function prepareURLToSearch(){
								let urlSearchDepartment = document.getElementById('urlSearchDepartment');
								urlSearchDepartment.action = `departament/search/${searchDepartment}`;
							}
							function sendDataToServer(dataSearchDepartment) {
								fetch('/departament/searchDepartment', {
								method: 'POST',
								body: JSON.stringify({ searchDepartment: dataSearchDepartment }),
								headers: {
								'Content-Type': 'application/json'
								}
							})
						}
					</script>
					<% } %>
					<% if (page === 'address') { %>
						<h1>Адреса</h1>
						<div class="buttons123">
							<!--<div class="search-form"> Кнопка поиска
								<input class="search-form-txt" id="searchInputAdress" placeholder="Поиск" size="90" type="text">
							</div> -->
							<div class="">
								<button type="button" id="showPopupAdress" class="add-btn-st btn btn-primary">Добавить</button>
							</div>
							<div class="imp-exp-st">
								<button class="table-btn-st">Импорт</button>
								<button class="table-btn-st">Экспорт</button>
							</div>
						</div>
						<table id="myTableAdress">
							<thead>
								<tr><th width="4%">#</th><th width="50%">Адрес</th><th width="30%">Факультет</th><th width="8%">Ред.</th><th width="8%">Уд.</th></tr>
							</thead>
							<% data.forEach(item => { %>
								<tbody>
									<td>
										<%= item.id %>
									</td>
									<td>
										<%= item.address %>
									</td>
									<td>
										<%= item.faculty %>
									</td>
									<td>
										<button id="showPopupAdressEdit<%= item.id %>" style="color:MidnightBlue">Ред.</button>
										<div id="overlayAdressEdit<%= item.id %>"></div>
										<div id="popupAdressEdit<%= item.id %>">
											<form method="post" action="/address/edit/<%= item.id %>">
												<h2>Адрес</h2>
												<input type="text" name="address" id="inputAdressEdit1" value="<%= item.address %>">
												<h2>Факультет</h2>
												<input type="text" name="faculty" id="inputAdressEdit2" value="<%= item.faculty %>">
												<button type="submit">Добавить</button>
											</form>
											<button id="closePopupAdressEdit<%= item.id %>">Закрыть окно</button>
										</div>	
									</td>
									<td>
										<form method="post" action="/address/delete/<%= item.id %>">
											<button style="color: DarkRed;">Удалить</button>
										</form>
									</td>
								</tbody>
							<% }); %>
						</table>
						<div id="overlayAdress"></div>
						<div id="popupAdress">
							<form method="post" action="/addition/address"> <!--id="inputFormAdress"-->
								<h2>Адрес</h2>
								<input type="text" name="address" id="inputAdress1" placeholder="Адрес">
								<h2>Факультет</h2>
								<input type="text" name="faculty" id="inputAdress2" placeholder="Факультет">
								<button type="submit">Добавить</button>
							</form>
						<button id="closePopupAdress">Закрыть окно</button>
					</div>		
						<script src="js/addAdressscript.js"></script>
					<% } %>
					<% if (page === 'discipline') { %>
						<h1>Дисциплины</h1>
						<div class="buttons123">
							<div class="search-form"> <!-- Кнопка поиска -->
								<form method="get" id="urlSearchDiscipline" onsubmit="prepareURLToSearch()" action="discipline/search/">
									<input class="search-form-txt" id="searchInputDiscipline" placeholder="Поиск" size="90" type="text">
								</form>
							</div>
							<div class="">
								<button type="button" id="showPopupDiscipline" class="add-btn-st btn btn-primary">Добавить</button>
							</div>
							<div class="imp-exp-st">
								<button class="table-btn-st">Импорт</button>
								<button class="table-btn-st">Экспорт</button>
							</div>
						</div>
						<table id="myTableDiscipline">
							<thead>
								<tr><th width="4%">#</th><th width="80%">Дисциплина</th><th width="8%">Ред.</th><th width="8%">Уд.</th></tr>
							</thead>
							<% data.slice(0,50).forEach(item => { %>
								<tbody>
									<td>
										<%= item.id %>
									</td>
									<td>
										<%= item.discipline_name %>
									</td>
									<td>
										<button id="showPopupDisciplineEdit<%= item.id %>" style="color:MidnightBlue">Ред.</button>
										<div id="overlayDisciplineEdit<%= item.id %>"></div>
										<div id="popupDisciplineEdit<%= item.id %>">
											<form method="post" action="/discipline/edit/<%= item.id %>">
												<h2>Дисциплина</h2>
												<input type="text" name="discipline_name" id="inputDisciplineEdit1" value="<%= item.discipline_name %>">
												<button type="submit">Добавить</button>
											</form>
											<button id="closePopupDisciplineEdit<%= item.id %>">Закрыть окно</button>
										</div>	
									</td>
									<td>
										<form method="post" action="/discipline/delete/<%= item.id %>">
											<button style="color: DarkRed;">Удалить</button>
										</form>
									</td>
								</tbody>
							<% }); %>
						</table>
						<div id="overlayDiscipline"></div>
						<div id="popupDiscipline">
							<form method="post" action="/addition/discipline"><!--id="inputFormDiscipline"-->
								<h2>Дисциплина</h2>
								<input type="text" name="discipline_name" id="inputDiscipline1" placeholder="Дисциплина">
								<button type="submit">Добавить</button>
							</form>
						<button id="closePopupDiscipline">Закрыть окно</button>
					</div>		
						<script src="js/addDisciplinescript.js"></script>
						<script>
							document.getElementById('searchInputDiscipline').addEventListener('input',searchCout)
								let searchDiscipline;
							function searchCout(){
								searchDiscipline = document.getElementById('searchInputDiscipline').value;
								sendDataToServer(searchDiscipline);
							}
							function prepareURLToSearch(){
								let urlSearchDiscipline = document.getElementById('urlSearchDiscipline');
								urlSearchDiscipline.action = `discipline/search/${searchDiscipline}`;
							}
							function sendDataToServer(dataSearchDiscipline) {
								fetch('/discipline/searchDiscipline', {
								method: 'POST',
								body: JSON.stringify({ searchDiscipline: dataSearchDiscipline}),
								headers: {
								'Content-Type': 'application/json'
								}
							})
						}
					</script>
					<% } %>
					<% if (page === 'professorsearch') { %>
						<h1>Преподаватели</h1>
						<div class="buttons123">
							<div class="search-form"> <!-- Кнопка поиска -->
								<form method="get" id="urlSearchTeacher" onsubmit="prepareURLToSearch()" action="professor/search/">
									<input id="searchInputTeacher" class="search-form-txt" placeholder="<%=searchTeacher %>" size="90" type="text">
								</form>
							<form action="/professor">
								<button  style="font-weight: 700; border-radius: 5px; background-color: rgba(0,0,0,0); height: 34px;" >Вернуться в начало</button>
							</form>
							</div>
							<div>
								<button type="button" id="showPopupTeacher" class="add-btn-st btn btn-primary">Добавить</button>
							</div>
							
							<div class="imp-exp-st">
								<button class="table-btn-st">Импорт</button>
								<button class="table-btn-st">Экспорт</button>
							</div>
						</div>
						<table id="myTableTeacher">
							<thead>
							<tr><th width="5%">#</th><th width="15%">Фамилия</th><th width="15%">Имя</th><th width="15%">Отчество</th><th width="10%">Должность</th><th width="15%">Кафедра</th><th width="15%">Телефон кафедры</th><th width="5%">Ред.</th><th width="5%">Уд.</th></tr>
							</thead>
							<tbody>
								<% data.forEach(item => { %>
										<tr> 
											<td>
												<%= item.id %>
											</td>
											<td>
												<%= item.last_name %>
											</td>
											<td>
												<%= item.first_name %>
											</td>
											<td>
												<%= item.middle_name %>
											</td>
											<td>
												<%= item.position %>
											</td>
											<td>
												<%= item.departement %>
											</td>
											<td>
												телефон
											</td>
											<td>
												<button id="showPopupTeacherEdit<%= item.id %>" style="color:MidnightBlue">Ред.</button>
												<div id="overlayTeacherEdit<%= item.id %>"></div>
												<div id="popupTeacherEdit<%= item.id %>">
													<form method="post" action="/professor/edit/<%= item.id %>">
														<h2>Фамилия</h2>
														<input type="text" name="last_name" id="inputTeacherEdit1" value="<%= item.last_name %>">
														<h2>Имя</h2>
														<input type="text" name="first_name" id="inputTeacherEdit2" value="<%= item.first_name %>">
														<h2>Отчество</h2>
														<input type="text" name="middle_name" id="inputTeacherEdit3" value="<%= item.middle_name %>">
														<h2>Должность</h2>
														<input type="text" name="position" id="inputTeacherEdit4" value="<%= item.position %>">
														<h2>Кафедра</h2>
														<input type="text" name="departament" id="inputTeacherEdit5" value="<%= item.departement %>">
														<h2>Телефон кафедры</h2>
														<input type="number" id="inputTeacherEdit6" value="телефон">
														<button type="submit">Сохранить</button>
													</form>
												<button id="closePopupTeacherEdit<%= item.id %>">Закрыть окно</button>
												</div>
											</td>
											<td>
												<form method="post" action="/professor/delete/<%= item.id %>">
													<button style="color: DarkRed;">Удалить</button>
												</form>
											</td>
										</tr>
								<% }); %>
							</tbody>
						</table>
							<div id="overlayTeacher"></div>
							<div id="popupTeacher">
								<form  action="/addition/professor" method="post"> <!--id="inputFormTeacher" -->
									<h2>Фамилия</h2>
									<input type="text" name="last_name" id="inputTeacher1" placeholder="Фамилия">
									<h2>Имя</h2>
									<input type="text" name="first_name" id="inputTeacher2" placeholder="Имя">
									<h2>Отчество</h2>
									<input type="text" name="middle_name" id="inputTeacher3" placeholder="Отчество">
									<h2>Должность</h2>
									<input type="text" name="position" id="inputTeacher4" placeholder="Должность">
									<h2>Кафедра</h2>
									<input type="text" name="departament" id="inputTeacher5" placeholder="Кафедра">
									<h2>Телефон кафедры</h2>
									<input type="number" id="inputTeacher6" placeholder="Телефон кафедры">
									<button type="submit">Добавить</button>
								</form>
							<button id="closePopupTeacher">Закрыть окно</button>
							</div>		
							<script src="/js/addTeacherscript.js"></script>
							<script>
									document.getElementById('searchInputTeacher').addEventListener('input',searchCout)
									function searchCout(){
										searchTeacher = document.getElementById('searchInputTeacher').value;
										sendDataToServer(searchTeacher);
									}
									function prepareURLToSearch(){
										let urlSearchTeacher = document.getElementById('urlSearchTeacher');
										urlSearchTeacher.action = `${searchTeacher}`;
									}
									function sendDataToServer(dataSearchTeacher) {
										fetch('/professor/searchTeacher', {
										method: 'POST',
										body: JSON.stringify({ searchTeacher: dataSearchTeacher }),
										headers: {
										'Content-Type': 'application/json'
										}
									})
								}
							</script>
						<% } %>
						<% if (page === 'disciplinesearch') { %>
							<h1>Дисциплины</h1>
							<div class="buttons123">
								<div class="search-form"> <!-- Кнопка поиска -->
									<form method="get" id="urlSearchDiscipline" onsubmit="prepareURLToSearch()" action="discipline/search/">
										<input class="search-form-txt" id="searchInputDiscipline" placeholder="<%= searchDiscipline %>" size="90" type="text">
									</form>
									<form action="/discipline">
										<button  style="font-weight: 700; border-radius: 5px; background-color: rgba(0,0,0,0); height: 34px;" >Вернуться в начало</button>
									</form>
								</div>
								<div class="">
									<button type="button" id="showPopupDiscipline" class="add-btn-st btn btn-primary">Добавить</button>
								</div>
								<div class="imp-exp-st">
									<button class="table-btn-st">Импорт</button>
									<button class="table-btn-st">Экспорт</button>
								</div>
							</div>
							<table id="myTableDiscipline">
								<thead>
									<tr><th width="4%">#</th><th width="80%">Дисциплина</th><th width="8%">Ред.</th><th width="8%">Уд.</th></tr>
								</thead>
								<% data.forEach(item => { %>
									<tbody>
										<td>
											<%= item.id %>
										</td>
										<td>
											<%= item.discipline_name %>
										</td>
										<td>
											<button id="showPopupDisciplineEdit<%= item.id %>" style="color:MidnightBlue">Ред.</button>
											<div id="overlayDisciplineEdit<%= item.id %>"></div>
											<div id="popupDisciplineEdit<%= item.id %>">
												<form method="post" action="/discipline/edit/<%= item.id %>">
													<h2>Дисциплина</h2>
													<input type="text" name="discipline_name" id="inputDisciplineEdit1" value="<%= item.discipline_name %>">
													<button type="submit">Добавить</button>
												</form>
												<button id="closePopupDisciplineEdit<%= item.id %>">Закрыть окно</button>
											</div>	
										</td>
										<td>
											<form method="post" action="/discipline/delete/<%= item.id %>">
												<button style="color: DarkRed;">Удалить</button>
											</form>
										</td>
									</tbody>
								<% }); %>
							</table>
							<div id="overlayDiscipline"></div>
							<div id="popupDiscipline">
								<form method="post" action="/addition/discipline"><!--id="inputFormDiscipline"-->
									<h2>Дисциплина</h2>
									<input type="text" name="discipline_name" id="inputDiscipline1" placeholder="Дисциплина">
									<button type="submit">Добавить</button>
								</form>
							<button id="closePopupDiscipline">Закрыть окно</button>
						</div>		
							<script src="/js/addDisciplinescript.js"></script>
							<script>
								document.getElementById('searchInputDiscipline').addEventListener('input',searchCout)
								function searchCout(){
									searchDiscipline = document.getElementById('searchInputDiscipline').value;
									sendDataToServer(searchDiscipline);
								}
								function prepareURLToSearch(){
									let urlSearchDiscipline = document.getElementById('urlSearchDiscipline');
									urlSearchDiscipline.action = `${searchDiscipline}`;
								}
								function sendDataToServer(dataSearchDiscipline) {
									fetch('/professor/searchDiscipline', {
									method: 'POST',
									body: JSON.stringify({ searchDiscipline: dataSearchDiscipline }),
									headers: {
									'Content-Type': 'application/json'
									}
								})
							}
						</script>
						<% } %>
						<% if (page === 'directionsearch') { %>
							<h1>Направление</h1>
							<div class="buttons123">
								<div class="search-form"> <!-- Кнопка поиска -->
									<form method="get" id="urlSearchDirection" onsubmit="prepareURLToSearch()" action="direction/search/">
									<input class="search-form-txt" id="searchInputDirection" placeholder="<%= searchDirection %>" size="90" type="text">
									</form>
									<form action="/direction">
										<button  style="font-weight: 700; border-radius: 5px; background-color: rgba(0,0,0,0); height: 34px;" >Вернуться в начало</button>
									</form>
								</div>
								<div class="">
									<button type="button" id="showPopupDirection" class="add-btn-st btn btn-primary">Добавить</button>
								</div>
								<div class="imp-exp-st">
									<button class="table-btn-st">Импорт</button>
									<button class="table-btn-st">Экспорт</button>
								</div>
							</div>
							<table id="myTableDirection">
								<thead>
									<tr><th width="4%">#</th><th width="8%">Аббревиатура</th><th width="40%">Название направления</th><th width="32%">Факультет</th><th width="8%">Ред.</th><th width="8%">Уд.</th></tr>
								</thead>
								<% data.forEach(item => { %>
									<tbody>
											<td>
												<%= item.id %>
											</td>
											<td>
												<%= item.direction_abbreviation %>
											</td>
											<td>
												<%= item.name %>
											</td>
											<td>
												<%= item.faculty %>
											</td>
											<td>
												<button id="showPopupDirectionEdit<%= item.id %>" style="color:MidnightBlue">Ред.</button>
												<div id="overlayDirectionEdit<%= item.id %>"></div>
												<div id="popupDirectionEdit<%= item.id %>">
													<form method="post" action="/direction/edit/<%= item.id %>">
														<h2>Аббревиатура</h2>
														<input type="text" name="direction_abbreviation" id="inputDirectionEdit1" value="<%= item.direction_abbreviation %>">
														<h2>Дисциплина</h2>
														<input type="text" name="name" id="inputDirectionEdit2" value="<%= item.name %>">
														<h2>Факультет</h2>
														<input type="text" name="faculty" id="inputDirectionEdit3" value="<%= item.faculty %>">
														<button type="submit">Добавить</button>
													</form>
												<button id="closePopupDirectionEdit<%= item.id %>">Закрыть окно</button>
												</div>
											</td>
											<td>
												<form method="post" action="/direction/delete/<%= item.id %>">
													<button style="color: DarkRed;">Удалить</button>
												</form>
											</td>
									</tbody>
								<% }); %>
							</table>
							<div id="overlayDirection"></div>
								<div id="popupDirection">
									<form method="post" action="/addition/direction"><!-- id="inputFormDiscipline" -->
										<h2>Дисциплина</h2>
										<input type="text" name="direction_abbreviation" id="inputDirection1" placeholder="Дисциплина">
										<input type="text" name="name" id="inputDirection2" placeholder="Название направления">
										<input type="text" name="faculty" id="inputDirection3" placeholder="Факультет">
										<button type="submit">Добавить</button>
									</form>
								<button id="closePopupDirection">Закрыть окно</button>
							</div>		
							<script src="/js/addDirectionscript.js"></script>
							<script>
								document.getElementById('searchInputDirection').addEventListener('input',searchCout)
								function searchCout(){
									searchDirection = document.getElementById('searchInputDirection').value;
									sendDataToServer(searchDirection);
								}
								function prepareURLToSearch(){
									let urlSearchDirection = document.getElementById('urlSearchDirection');
									urlSearchDirection.action = `${searchDirection}`;
								}
								function sendDataToServer(dataSearchDirection) {
									fetch('/direction/searchDirection', {
									method: 'POST',
									body: JSON.stringify({ searchDirection: dataSearchDirection }),
									headers: {
									'Content-Type': 'application/json'
									}
								})
							}
						</script>
						<% } %>
						<% if (page === 'classroomsearch') { %>
							<h1>Аудитории</h1>
							<div class="buttons123">
								<div class="search-form"> <!-- Кнопка поиска -->
									<form method="get" id="urlSearchClassroom" onsubmit="prepareURLToSearch()" action="classroom/search/">
										<input class="search-form-txt" id="searchInputAudience" placeholder="<%= searchClassroom %>" size="90" type="text">
									</form>
									<form action="/classroom">
										<button  style="font-weight: 700; border-radius: 5px; background-color: rgba(0,0,0,0); height: 34px;" >Вернуться в начало</button>
									</form>
								</div>
								<div class="">
									<button type="button" id="showPopupAudience" class="add-btn-st btn btn-primary">Добавить</button>
								</div>
								<div class="imp-exp-st">
									<button class="table-btn-st">Импорт</button>
									<button class="table-btn-st">Экспорт</button>
								</div>
							</div>
							<table id="myTableAudience">
								<thead>
									<tr><th width="4%">#</th><th width="50%">Аудитория</th><th width="30%">Корпус</th><th width="8%">Ред.</th><th width="8%">Уд.</th></tr>
								</thead>
								<% data.forEach(item => { %>
									<tbody>
											<td>
												<%= item.id %>
											</td>
											<td>
												<%= item.room_number %>
											</td>
											<td>
												<%= item.building %>
											</td>
											<td>
												<button id="showPopupAudienceEdit<%= item.id %>"  style="color:MidnightBlue">Ред.</button>
												<div id="overlayAudienceEdit<%= item.id %>"></div>
													<div id="popupAudienceEdit<%= item.id %>">
													<form method="post" action="/classroom/edit/<%= item.id %>">
														<h2>Аудитории</h2>
														<input type="text" name="room_number" id="inputAudienceEdit1" value="<%= item.room_number %>">
														<h2>Корпус</h2>
														<input type="text" name="building" id="inputAudienceEdit2" value="<%= item.building %>">
														<button type="submit">Добавить</button>
													</form>
													<button id="closePopupAudienceEdit<%= item.id %>">Закрыть окно</button>
												</div>
											</td>
											<td>
												<form method="post" action="/classroom/delete/<%= item.id %>">
													<button style="color: DarkRed;">Удалить</button>
												</form>
											</td>
									</tbody>
								<% }); %>
							</table>
							<div id="overlayAudience"></div>
								<div id="popupAudience">
									<form  method="post" action="/addition/classroom"> <!--id="inputFormAudience"-->
										<h2>Аудитории</h2>
										<input type="text" id="inputAudience1" placeholder="Аудитория" name="room_number">
										<h2>Корпус</h2>
										<input type="text" id="inputAudience2" placeholder="Корпус" name="building">
										<button type="submit">Добавить</button>
									</form>
								<button id="closePopupAudience">Закрыть окно</button>
							</div>
								<script src="/js/addAudiencescript.js"></script>
								<script>
									document.getElementById('searchInputAudience').addEventListener('input',searchCout)
									function searchCout(){
										searchClassroom = document.getElementById('searchInputAudience').value;
										sendDataToServer(searchClassroom);
									}
									function prepareURLToSearch(){
										let urlSearchClassroom = document.getElementById('urlSearchClassroom');
										urlSearchClassroom.action = `${searchClassroom}`;
									}
									function sendDataToServer(dataSearchClassroom) {
										fetch('/classroom/searchClassroom', {
										method: 'POST',
										body: JSON.stringify({ searchClassroom: dataSearchClassroom }),
										headers: {
										'Content-Type': 'application/json'
										}
									})
								}
							</script>
						<% } %>
						<% if (page === 'departamentsearch') { %>
							<h1>Кафедры</h1>
							<div class="buttons123">
								<div class="search-form"> <!-- Кнопка поиска -->
									<form method="get" id="urlSearchDepartment" onsubmit="prepareURLToSearch()" action="departament/search/">
										<input class="search-form-txt" id="searchInputDepartment" placeholder="<%= searchDepartment %>" size="90" type="text">
									</form>
									<form action="/departament">
										<button  style="font-weight: 700; border-radius: 5px; background-color: rgba(0,0,0,0); height: 34px;" >Вернуться в начало</button>
									</form>
								</div>
								<div class="">
									<button type="button" id="showPopupDepartment" class="add-btn-st btn btn-primary">Добавить</button>
								</div>
								<div class="imp-exp-st">
									<button class="table-btn-st">Импорт</button>
									<button class="table-btn-st">Экспорт</button>
								</div>
							</div>
							<table id="myTableDepartment">
								<thead>
									<tr><th width="4%">#</th><th width="60%">Название кафедры</th><th width="20%">Телефон кафедры</th><th width="8%">Ред.</th><th width="8%">Уд.</th></tr>
								</thead>
								<% data.forEach(item => { %>
									<tbody>
											<td>
												<%= item.id %>
											</td>
											<td>
												<%= item.name %>
											</td>
											<td>
												<%= item.phone %>
											</td>
											<td>
												<button id="showPopupDepartmentEdit<%= item.id %>" style="color:MidnightBlue">Ред.</button>
												<div id="overlayDepartmentEdit<%= item.id %>"></div>
												<div id="popupDepartmentEdit<%= item.id %>">
													<form method="post" action="/departament/edit/<%= item.id %>">
														<h2>Название кафедры</h2>
														<input type="text" name="name" id="inputDepartmentEdit1" value="<%= item.name %>">
														<h2>Телефон кафедры</h2>
														<input type="text" name="phone" id="inputDepartmentEdit2" value="<%= item.phone %>">
														<button type="submit">Добавить</button>
													</form>
													<button id="closePopupDepartmentEdit<%= item.id %>">Закрыть окно</button>
												</div>
											</td>
											<td>
												<form method="post" action="/departament/delete/<%= item.id %>">
													<button style="color: DarkRed;">Удалить</button>
												</form>
											</td>
									</tbody>
								<% }); %>
							</table>
							<div id="overlayDepartment"></div>
							<div id="popupDepartment">
								<form method="post" action="/addition/departament"><!--id="inputFormDepartment"-->
									<h2>Название кафедры</h2>
									<input type="text" name="name" id="inputDepartment1" placeholder="Название кафедры">
									<h2>Телефон кафедры</h2>
									<input type="text" name="phone" id="inputDepartment2" placeholder="Телефон кафедры">
									<button type="submit">Добавить</button>
								</form>
							<button id="closePopupDepartment">Закрыть окно</button>
						</div>		
							<script src="/js/addDepartmentscript.js"></script>
							<script>
								document.getElementById('searchInputDepartment').addEventListener('input',searchCout)
								function searchCout(){
									searchDepartment = document.getElementById('searchInputDepartment').value;
									sendDataToServer(searchDepartment);
								}
								function prepareURLToSearch(){
									let urlSearchDepartment = document.getElementById('urlSearchDepartment');
									urlSearchDepartment.action = `${searchDepartment}`;
								}
								function sendDataToServer(dataSearchDepartment) {
									fetch('/departament/searchDepartment', {
									method: 'POST',
									body: JSON.stringify({ searchDepartment: dataSearchDepartment }),
									headers: {
									'Content-Type': 'application/json'
									}
								})
							}
						</script>
						<% } %>

			</div>
		</main>


	
	</body>

</html>